{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-fragments": "off",
    "import/export": "off",
    "react/prop-types": "warn",
    "react/no-unused-prop-types": "warn",
    "no-unused-vars": "warn"
  }
}
